[submodule "universal_robot"]
	path = universal_robot
	url = https://github.com/ros-industrial/universal_robot.git

[submodule "ar_track_alvar"]
	path = ar_track_alvar
	url = https://github.com/ROSinTraining/ar_track_alvar.git
